body {
	background-color: beige;
}

form {
	display: inline;
}

table {
	border: 1px;
}

table, th, td {
	border: 1px solid black;
}

input[type=submit] {
	width: 160px;
}

input[name=empty] {
	width: 125px;
}

.footer {
	position: fixed;
	bottom: 0px;
	background-color: beige;
}
