body {
	background-color: beige;
}

form {
     display: inline;
}

table {
	border: 1px;
}

table, th, td {
  border: 1px solid black;
}

input[type=submit] {
    width: 150px;
}

.footer {
   position: fixed;
   bottom: 15px;
}
