/*

* {
	font-size: 4vw;
}

h1 {
	font-size: 6vw;
}

h2 {
	font-size: 5vw;
}

*/

body {
	background-color: beige;
}

form {
     display: inline;
}

table {
	border: "1px solid black";
}

input[type="submit"] {
    width: 150px;
}

.footer {
   position: fixed;
   bottom: 15px;
}
